@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('author.css');

@layer base {
	:where(body) {
		font-family: Author-Variable, sans-serif;
		font-feature-settings:
			'pnum' on,
			'lnum' on;
		@apply bg-base text-base font-medium text-primary;
	}
}

.hide-for-mobile-override {
	& > *:nth-child(1) {
		display: none;
	}

	/* tailwind md: */
	@media (max-width: 768px) {
		& > * {
			display: none;
		}
	}
}
