.git
.github
.idea
.vscode
.husky

**/node_modules
**/types
**/.next
**/dist
**/.turbo

**/vitest.config.ts
**/eslint.config.js
**/.prettierrc.json
**/.prettierrc.cjs
**/.prettierignore
**/tsconfig.eslint.json

.eslintrc.json
.gitattributes
.gitignore
turbo.json
.env.private.example
logs-archive

LICENSE
**/README.md

.DS_Store
