.git
.github
.idea
.vscode
.husky

**/node_modules
**/types
**/.next
**/dist

**/vitest.config.ts
**/eslint.config.js
**/.prettierrc.json
**/.prettierrc.cjs
**/.prettierignore
**/tsconfig.eslint.json

.commitlinrrc.json
.gitattributes
.gitignore
.env.private.example

LICENSE
**/README.md

.DS_Store
