# Enforce Unix-style line endings for all text files
* text=auto eol=lf

# Windows-specific files should have CRLF line endings
*.bat text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pdf binary

# Archives
*.7z binary
*.jar binary
*.rar binary
*.zip binary
*.gz binary
*.bz2 binary
*.tar binary
*.tgz binary

# Fonts
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary