/**/dist
/**/types
!/**/src/types
coverage

node_modules
/.env
.env.*.local

.idea
.vscode
*.log
doc
docs

ley.config.mjs

docker-compose.config.yml
docker-compose.config.dev.yml
docker-compose.config.prod.yml

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

.turbo
