.vscode/*
!.vscode/settings.json
.DS_STORE

**/node_modules
**/.next

**/coverage
**/dist
**/.turbo

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

logs-archive
.env.private
