{
  acme_dns cloudflare {env.CF_API_TOKEN}
}

api.automoderator.app {
  log {
    output file /var/log/access.log {
      roll_size 1gb
      roll_keep 5
      roll_keep_for 720h
    }
    level INFO
    format console
  }

  reverse_proxy /api/v1/auth/* http://auth:3000
  reverse_proxy /api/v1/discord/webhook http://interactions:3002
  reverse_proxy * http://api:3001
}

kibana.automoderator.app {
  reverse_proxy * http://kibana:5601
}

dash.automoderator.app {
  basicauth * {
    testers {env.BASIC_AUTH_KEY}
  }

  reverse_proxy * http://dash:4000
}
